@media screen and (max-width: 99000px) {
  body {
    background-color: #ffff33;
  }
  ul {
    list-style-type: none;
  }
  header ul {
    display: flex;
    flex-direction: row;
    margin: 3% 4%;
    justify-content: center;
  }
  button {
    margin: 2em;
    background-color: #e60000;
    width: 90%;
    height: 35%;
    text-decoration: none;
    color: #ffffff;
    border: 3px solid white;
    padding: 3%;
  }
  button:hover {
    color: yellow;
    border: 3px solid black;
    cursor: grab;
  }
  #welcome {
    text-align: center;
    text-decoration: none;
    color: #e60000;
    font-size: 64px;
  }
  .contact_form {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  footer {
    background-color: #000000;
    position: relative;
    height: 15%;
    margin-top: -15%;
    clear: both;
  }
  #name_input {
    width: 10em;
  }
}
