@media screen and (max-width: 1980px) {
  body {
    background-color: yellow;
  }
  #mobile_btn{
    display: none;
  }
  .btn-danger{
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  #header_menu {
    display: flex;
    justify-content: center;
  }
  img {
    width: 40%;
    height: 40%;
   margin-left: 50%;
   margin-right: 50%;
  }
  .product_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
    font-size: 72%;
    width: 40%;
    height: 40%;
    margin-top: 0.6em;
    margin-bottom:0.6em;
  }

  #cookie_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
   
  }
  #coffe_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
  
  }
  #salad_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
   
  }
  #soda_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;

  }
}

@media screen and (max-width:800px) {
  body {
    background-color: yellow;
  }
  .btn-danger{
    width:40%;
  }
  #mobile_btn{
    display: flex;
    flex-direction: row-reverse;
  }


  #header_menu {
    display: flex;
    justify-content: center;
    display: none;
  }
  img {
    width: 40%;
    height: 40%;
   margin-left: 50%;
   margin-right: 50%;
  }
  .product_list {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-family: fantasy;
    font-size: 72%;
    width: 40%;
    height: 40%;
    margin-top: 0.6em;
    margin-bottom:0.6em;
  }

  #cookie_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
   
  }
  #coffe_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;
  
  }
  #salad_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
   
  }
  #soda_list{
    display: flex;
    align-items: center;
    justify-content: center;
    display:none;

  }
}