@media  screen and (max-width:480px) {
  body{
    background-color: rgb(233, 190, 19);
  }
  #logo{
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: flex-start;
  }
  .menu {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .button {
    padding: 3%;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 3ch;
    border: 3px solid #f8eded; 
   }
   img {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    margin-top: 20px;
  }
  #introduce {
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #338bf0;
  }
  #about {
    font-size: 2.2ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #fcfafa;
    font-kerning: normal;
}
  #bar {
    font-size: 2.2ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #ffffff;
    font-kerning: normal;
  }
  #wait {
    font-size: 2.7ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #ffffff;
    font-kerning: normal;
  }
  h3 {
    font-size: 3.3ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #338bf0;
  }
}

@media  screen and (min-width:483px) {
  body{
    background-color: rgb(233, 190, 19);
  }
  #logo{
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: flex-start;
  }
  .menu {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button {
    padding: 3%;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 3ch;
    border: 3px solid #f8eded; 
   }
   img {
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    margin-top: 20px;
  }
  #introduce {
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #338bf0;
  }
  #about {
    font-size: 2.2ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #fcfafa;
    font-kerning: normal;
}
  #bar {
    font-size: 2.2ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #ffffff;
    font-kerning: normal;
  }
  #wait {
    font-size: 2.7ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #ffffff;
    font-kerning: normal;
  }
  h3 {
    font-size: 3.3ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #338bf0;
  }
}
@media screen and (min-width: 1300px) {
  .menu {
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body {
    background-image: url(../Images/background.jpg);
  }
  .button {
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f8eded;
  }
  .button:hover {
    padding: 7px 9px 7px 9px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2a14f3;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f0d9d9;
  }
  .container {
    width: 35%;
    height: 700px;
    background: rgba(255, 255, 255, 0.801);
    margin-left: 30%;
    margin-right: 35%;
  }
  img {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  #introduce {
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #0804f5;
  }
  #about {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
  }
  #bar {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
  }
  #wait {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
  }
  .row {
    display: flex;
  }
  .col {
    margin-top: 55px;
    width: 35%;
    margin-left: 7em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f191;
  }
  #waiter {
    height: 300px;
    width: 300px;
  }
  #bartender {
    height: 300px;
    width: 300px;
  }
  h3 {
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #0804f5;
  }
  #logo {
    width: 70px;
    height: 70px;
  }
  header img {
    display: block;
    border: 3px solid black;
    align-items: right;
  }
}
