@media screen and (max-width: 480px) {
  body {
    background-color: #bf3d1d;
  }
  .intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40%;
    border-width: 1cm;
    margin-top: 0px;
  }
  #logo {
    width: 15%;
    height: 15%;
    display: flex;
    float: right;
    border: 1px solid black;
  }
  #welcome_text {
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: #cea10e;
    display: contents;
    align-content: center;
  }
  .menu {
    border: 2px #ede4e1;
    width: 20%;
    height: 20%;
  }
  .button {
    border: #ede4e1 3px solid;
    padding: 5%,5%;
    margin: 7px;
    display: flex;
    float: left;
    font-style: normal;
    font-variant: normal;
    font-size: 20%;
    color: #ede4e1;
  }
  .button::after {
    color: black;
  }
  #welcome_text {
    font-size: 25%;
    font-style: normal;
    color: #c8b932;
  }
}
@media screen and (max-width: 800px) {
  body {
    background-color: #bf3d1d;
  }
  #logo {
    width: 15%;
    height: 15%;
    display: flex;
    float: right;
    justify-content: right;
    border: 1px solid black;
  }
  .intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10%;
    border-width: 1cm;
    margin-top: 0px;
  }
  #logo {
    width: 19%;
    height: 19%;
  }
  #welcome_text {
    font-size: 75%;
    font-style: normal;
    color: #c8b932;
  }
  .menu {
    border: 2px #ede4e1;
  }
  .button {
    border: #ede4e1 3px solid;
    padding: 5%,5%;
    margin: 7px;
    display: flex;
    float: left;
    font-style: normal;
    font-size: 25%;
    color: #ede4e1;
  }
  .button::after {
    color: black;
  }
}
@media  screen and (min-width: 1024px) {
  .intro {
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ch;
    border-width: 2cm;
    color: #ffffff;
    margin-top: 0px;
  }
  body {
    background-color: #cdb40c;
  }
  .menu {
    padding: 7px;
    display: flex;
    justify-content: center;
  }
  #logo {
    height: 7px;
    width: 7px;
  }
  .button {
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f8eded;
  }
  .button:hover {
    padding: 7px 9px 7px 9px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2a14f3;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f0d9d9;
  }
  #logo {
    width: 70px;
    height: 70px;
  }
  header img {
    display: block;
    border: 3px solid black;
    align-items: right;
  }
  #welcome_text {
    font-size: 3cm;
    font-family: cursive;
    font-style: normal;
    color: red;
  }
  p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
  }
  #header {
    width: 208px;
  }
}
@media screen and (min-width: 1300px) {
  .intro {
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3ch;
    border-width: 2cm;
    color: #ffffff;
    margin-top: 0px;
  }
  body {
    background-color: #cdb40c;
  }
  .menu {
    padding: 7px;
    display: flex;
    justify-content: center;
  }
  #logo {
    height: 7px;
    width: 7px;
  }
  .button {
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f8eded;
  }
  .button:hover {
    padding: 7px 9px 7px 9px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2a14f3;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f0d9d9;
  }
  #logo {
    width: 70px;
    height: 70px;
  }
  /*combined selectors test 1*/
  header img {
    display: block;
    border: 3px solid black;
    align-items: right;
  }
  #welcome_text {
    font-size: 3cm;
    font-family: cursive;
    font-style: normal;
    color: red;
  }
  p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
  }
  #header {
    width: 208px;
  }
}
