@media screen and (max-width: 480px) {
  body {
    background-color: #9ac011;
  }
  .menu {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  #logo{
    width: 30%;
    height: 30%;
  }
  .button {
    padding: 5%;
    margin-top:5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 2ch;
    border: 3px solid #f8eded;
  }
  .categories{
    display: none;
  }
  img{
    width: 30%;
    height: 30%;
  }
  .container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
}
@media  screen and (min-width:483px) {
  body {
    background-color: #9ac011;
  }
  .menu {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #logo{
    width: 30%;
    height: 30%;
  }
  .button {
    margin-left: 1em;
    padding: 5%;
    margin-top:5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 2ch;
    border: 3px solid #f8eded;
  }
  .categories{
    display: none;
  }
  img{
    width: 30%;
    height: 30%;
  }
  .container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

}
@media screen and (min-width: 1300px) {
  .menu {
    padding: 7px;
    display: flex;
    justify-content: center;
  }
  body {
    background-image: url(../Images/background.jpg);
  }
  .categories{
    display: flex;
    flex-direction: row;
    color: blue;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header img {
    display: block;
    border: 3px solid black;
    align-items: right;
  }
  #logo {
    width: 70px;
    height: 70px;
  }
  .button {
    margin-left: 1em;
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f8eded;
  }
  .button:hover {
    padding: 7px 9px 7px 9px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2a14f3;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid #f0d9d9;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .container {
    display: flex;
    flex-direction: row;
    color: blue;
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h2 {
    margin: auto;
    margin-top: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: xx-large;
    color: #ee190a;
  }
  .row {
    margin: auto;
    background-color: white;
  }
  div img ul li {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color: #2a14f3;
  }
}
