
.menu{
    padding:7px;
   display:flex;
    justify-content: center;
}
body{
    background-image: url(../Images/background.jpg);
}
.button {
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ee190a;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid rgb(248, 237, 237);
  }
  .button:hover
  {
    padding: 7px 9px 7px 9px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#2a14f3;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid rgb(240, 217, 217);
  }

.container{
     
    width: 35%;
    height: 700px;
    background: rgba(255, 255, 255, 0.801);
    margin-left: 30%;
    margin-right: 60%;
}
img{
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
#introduce{
    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #0804f5;
}
#about{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
    
}
#bar{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
}
#wait{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #f50404;
    font-kerning: normal;
}
.row{
    display: flex;
}
.col{
    margin-top: 55px;
    width:35%;
    height: 100px;
    margin-left: 4cm;
    padding-left: 20px;
    padding-right: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f191;
  }
#waiter{
    height: 300px;
    width:300px;
}
#bartender{
    height: 300px;
    width:300px;
}

h3{
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-kerning: auto;
    font-stretch: expanded;
    color: #0804f5; 
}
#logo{
    width: 70px;
    height: 70px;
}
header img 
{
    display:block;
    border: 3px solid black;
    align-items: right;
}